.main{
    padding: 0px;
    margin: 0px;
    background-color: #F8F9FC;
}
.main_display{
    height: 115vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.580838) 32.24%, rgba(0, 0, 0, 0.486293) 62.09%, rgba(0, 0, 0, 0) 98.06%), url("/src/images/background-image.jpg") center;
    background-size: cover;
    box-sizing: border-box;  
    padding-right: 8%;
    padding-left: 8%;  
}

.main_display h1{
    font-size: 54px;
    font-weight: 700;
    padding-top: 16%;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 20px;
}
.main_display h3{
    font-size: 20px;
    font-weight: 400;
    width: 550px;
    color: #FFFFFF;
}
.main_display .btnbookhere{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 20px 50px;
    background-color: #3E86F5;
    border-radius: 10px;
    border: none;
    margin-top: 68px;
}
.travel_detail_container{
    margin: 0 auto;
    margin-top: -65px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 35px 24px;
    border-radius: 16px;
    box-sizing: border-box;
}
.travel_detail_container .title_container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.travel_detail_container .title_container p{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #929191;
    text-transform: uppercase;
}

.travel_detail_container .title_info{
    display: flex;
}
.travel_detail_container .title_info p{
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
.travel_detail_container .title_info .dropdownIcon{
    height: 24px;
    width: 24px;
    color: #666666;
}
.travel_detail_container button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 20px 60px;
    background-color: #3E86F5;
    border-radius: 10px;
    border: none;
}
.travel_detail_container .ioplane{
    height: 25px;
    width: 25px;
    margin-left: 10px;
}
.sponsors_display{
    margin: 0 auto;
    margin-top: 60px;
    height: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.travel_regions_container{
    background-color: #F8F9FC;
}
.sponsors_display{
    background-color: #F8F9FC;
}
.travel_regions_info_container{
    border-top: 1px solid #929191;
    margin-top: 50px;
    height: 103vh;
    background: url("/src/images/map.png");
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 90px;
    
}
.travel_regions_info_container .first_heading, .second_heading{
    width: 800px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}
.travel_regions_info_container .first_heading{
    margin-top: 0px;
}
.travel_regions_info_container .first_heading strong{
    color: #3E86F5;
}
.travel_regions_info_container p{
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
    color: #666666;
    width: 790px;
    margin-top: 40px;
    margin-bottom: 65px;
}
.travel_regions_info_container .second_heading{
    background-image: url("/src/images/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 75px 0px;
}
.travel_regions_info_text_container .arrow_container{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 0px;
}

.resort_destination{
    box-sizing: border-box; 
    margin: 0 auto; 
    padding-top: 80px;
    padding-bottom: 100px;
    padding-right: 8%;
    padding-left: 8%;  
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.resort_destination h1{
    font-size: 44px;
    font-weight: 600;
    max-width: 550px;
    margin-bottom: 50px;
}
.resort_destination .image_container{
    height: 650px;
    border-radius: 20px;
    padding: 0px 25px;
    box-sizing: border-box;
}
.resort_image_textual_content{
    display: none;
}
.image_container:hover .resort_image_textual_content{
    overflow: hidden;
    display: block;
    
}
.resort_destination .resort_destination_part_one .image_container{
    width: 70%;
}
.resort_destination .resort_destination_part_two .image_container{
    width: 85%;
}
.resort_destination .resort_one{
    background: url("/src/images/resort1.png") #3E86F5;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-right: 15px;
}
.resort_destination .resort_one:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("/src/images/resort1.png");
}
.resort_destination .resort_two{
    background: url("/src/images/resort2.png") #3E86F5;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-right: 15px;
}
.resort_destination .resort_two:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("/src/images/resort2.png");
}
.resort_destination .resort_three{
    background: url("/src/images/resort.jpg") #3E86F5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-left: 15px;
}
.resort_destination .resort_three:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("/src/images/resort.jpg");
    background-position: center;
    background-size: cover;
}
.resort_destination .resort_four{
    background: url("/src/images/resort4.png") #3E86F5;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-left: 15px;
}
.resort_destination .resort_four:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("/src/images/resort4.png");
}
@keyframes slide-up {
    from {
        color: #000000;
        padding-top: 500px;
    }
    to{
        color: #FFFFFF;
        padding-top: 450px;
    }
}
.resort_destination .image_container .resort_image_textual_content h3{
    padding-top: 450px;
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 5px;
    animation: slide-up 0.3s;
    overflow: hidden;
    
}
.resort_destination .image_container .resort_image_textual_content p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF80;
    margin-bottom: 15px;
}
.resort_destination .image_container .resort_image_textual_content button{
    font-size: 16px;
    width: 100%;
    color: #FFFFFF;
    background-color: #3E86F5;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
    
}
.resort_destination .resort_destination_part_one {
    display: flex;
    flex-direction: column;
    width: 55%;
    box-sizing: border-box;
}
.resort_destination .resort_destination_part_two{
    width: 45%;
    box-sizing: border-box;
}
.resort_destination .resort_destination_part_one .resort_image_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.passes_display{
    height: 115vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/passes_background.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 8%;
    padding-left: 8%;  
    box-sizing: border-box;
}
.passes_display h1{
    font-size: 70px;
    font-weight: 600;
    padding-top: 140px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 20px;
}
.passes_display .btnviewpasses{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 20px 70px;
    background-color: #3E86F5;
    border-radius: 10px;
    border: none;
    margin-top: 65px;
}